#Project

#logs
*log*.*
*.log*

#Linux
*.directory

#QT
*.autosave
*.pro.user
*.pro.user*
*.user.*
*.user

#Editors
*~

#Libs
*.so.*
*.so
*.a
*.dll

#Makestuff
Makefile
CMakeCache.txt
*.cmake
CMakeFiles/

#Other
*.cbp
